html {
    background: rgba(0, 0, 0, 0.6);
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: rgba(239, 239, 239, 1);
    border-radius: 4px;
    align-items: center;
    text-align: center;
}

.red-center {
    display: flex;
    justify-content: center;
}

.user-avatar {
    width: 48px;
    height: 48px;
    background: rgba(216, 216, 216, 1);
    border-radius: 2px;
    margin-top: 31px;
}

.grabber-avatar {
    width: 40px;
    height: 40px;
    background: rgba(216, 216, 216, 1);
    border-radius: 2px;
    margin-left: 10px;
}

.send-user {
    width: 90px;
    height: 18px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(27, 27, 27, 1);
    line-height: 18px;
    margin-top: 13px;
}

.red-desc {
    height: 12px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(27, 27, 27, 1);
    line-height: 12px;
    margin-top: 8px;
}

.red-amount {
    font-size: 36px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(27, 27, 27, 1);
    line-height: 48px;
    letter-spacing: 3px;
    margin-top: 12px;
    margin-bottom: 21px;
}

.red-details {
    background: rgba(255, 255, 255, 1);
    margin-top: 21px;
}

.division-line {
    height: 1px;
    background: rgba(243, 243, 243, 1);
    margin-left: 40px;
    overflow: hidden;
}

.layout-all-row {
    width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    flex-shrink: 0;

}

.list-item-center {
    width: 100%;
    padding-bottom: 11px;
    overflow-y: scroll;
}

.item-title {
    background: rgba(255, 255, 255, 1);
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
}

.item-title-content {
    width: 100%;
    height: 14px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(157, 155, 159, 1);
    line-height: 14px;
    margin-left: 10px;
}

.item-row {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 56px;
    cursor: pointer;
    /*margin-bottom: 2rem;*/
}

.item-row:active {
    background: rgba(255, 255, 255, 0.2);
}

.item-header {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
}

.item-body {
    width: 100%;
    height: 56px;
    flex-direction: row;
    align-items: center;
}

.item-body-display {
    display: flex;
    justify-content: space-between;
    /*line-height: 3rem;*/
    height: 56px;
}

.item-body-tail {
    margin-right: 10px;
    justify-content: right;
}

.item-body-desc {
    /*height: 3rem;*/
    font-size: 16px;
    font-family: PingFangSC-Regular;
    margin-left: 11px;
    line-height: 3rem;
}

.more-img {
    width: 8px;
    height: 13px;
    /*border-radius: 50%;*/
}

.grab-user {
    height: 16px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(27, 27, 27, 1);
    line-height: 16px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 4px;
}

.grab-time {
    height: 16px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 16px;
    text-align: left;
}

.grab-amount {
    height: 16px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(27, 27, 27, 1);
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
    text-align: right;
}

.grab-top {
    height: 16px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 159, 0, 1);
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.luck-star {
    width: 18px;
    height: 15px;
    margin-right: 6px;
}